<div >
	<table class="table-bordered">
		<td   class = "row">
			<p class = "span12">
				<h3><%= t("post.title")%><%= @post.title%></h2>
					<%= t("post.user_name")%><%= @user.name%>
			</p>
			<p style="padding-top 80px"> 
				<%= t("post.Content")%>
				<%= @post.content%></p>
		</td>
	</table>
</div>
<% @revert.each do |revert| %>
<div >
	<table class="table-bordered">
		<td   class = "row">
			<p class = "span12">
				<%= t("post.Content")%>:
				<%= revert.revertc%>
			</p>
			<p style="padding-top 80px">
				<%= t("post.user_name")%>:
				<%= revert.user.name%>
			</p>
		</td>
	</table>
</div>
<% end %>
<%= link_to(t("revert.reverts"), 
	new_post_revert_path(@post), 
	class: "btn btn-large btn-primary") %>