<h1><%= @post.title%></h1>
<ul class="breadcrumb">
    <li><%= link_to 'Home/ ', posts_path%></li>
    <li><%= link_to @node.name, node_posts_path(@node.id)%></li>
</ul>
<div >
	<table class="table-bordered">
		<td   class = "row">
			<p class = "span12">
				<h3><%= t("post.title")%><%= @post.title%></h2>
					<%= t("post.user_name")%><%= @user.name%>
			</p>
			<p style="padding-top 80px"> 
				<%= t("post.Content")%>
				<%= @post.content%>
			</p>
			<p>
				<%= image_tag @post.avatar.url %>  
			</p>	
		</td>
	</table>
</div>
<div style='padding-top: 40px'>
	<% @revert.each do |revert| %>
	<table class="table-bordered">
		<td   class = "row">
			<p class = "span12">
				<%= t("post.Content")%>:
				<%= revert.revertc%>
			</p>
			<p style="padding-top 80px">
				<%= t("post.user_name")%>:
				<%= revert.user.name%>
			</p>
			-------------------
			<p>
			<%= link_to t("user.message"), new_user_message_path(revert.user.id)%>
			</p>
		</td>
	</table>
	<% end %>
</div>

<%= link_to(t("revert.reverts"), 
	new_post_revert_path(@post), 
	class: "btn btn-large btn-primary") %>
